@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
    --c-black: rgb(0, 0, 0);
    --c-white: rgb(255, 255, 255);
    --t-large: 48px;
    --t-medium: 24px;
    --t-small: 18px;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-weight: 400;
}

html {
    font-family: Inter, Helvetica, sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body,
#__next {
    box-sizing: border-box;
    background-color: var(--c-white);
    color: var(--c-black);
}

a {
    font-weight: inherit;
    color: inherit;
    text-decoration: none;
    transition: opacity 0.3s;
}

@media screen and (max-width: 812px) {
    html {
        font-size: 50%;
    }
}

.heading {
    font-weight: 600;
    text-transform: uppercase;
    font-size: var(--t-large);
}

.subheading {
    font-weight: bold;
    text-transform: uppercase;
    font-size: var(--t-medium);
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: flex-start;
    grid-column-gap: 10px;
    margin: 0 36px;
}
