/* LEGAL DISCLAIMER
 *
 * These Fonts are licensed only for use on these domains and their subdomains:
 * diffraction.tedxcmu.org
 *
 * It is illegal to download or use them on other websites.
 *
 * While the @font-face statements below may be modified by the client, this
 * disclaimer may not be removed.
 *
 * Optimo webfonts are protected by copyright law and provided under license. To modify, alter, translate, convert, decode or reverse engineer in any manner whatsoever, including converting the Font Software into a different format is strictly prohibited. The webfont files are not to be used for anything other than web font use.
 *
 * optimo.ch
 */

:root {
    --c-black: rgb(0, 0, 0);
    --c-white: rgb(255, 255, 255);
    --c-border: #4f4f4f;
    --c-off-white: #c4c4c4;
    --c-off-white-2: #e5e5e6;
    --c-gray: #474747;
    --c-gray-2: #cecece;
    --c-gray-3: #828282;
    --c-gray-4: #7f7f7f;
    --c-off-black: #020202;

    --t-title--large: 96px;
    --t-title: 64px;
    --t-large: 48px;
    --t-medium-large: 32px;
    --t-medium: 22px;
    --t-small: 18px;
    --t-xsmall: 14px;

    --grid-margin: 36px;

    --space: 4px;
    --space-2x: 8px;
    --space-3x: 12px;
    --space-4x: 16px;
    --space-6x: 24px;
    --space-8x: 32px;
    --space-12x: 48px;
    --space-16x: 64px;
    --space-32x: 128px;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-weight: 400;
}

html {
    font-family: Satoshi, Inter, Helvetica, sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
    box-sizing: border-box;
    background-color: var(--c-black);
    color: var(--c-white);
}

body {
    margin: 0 2% 0 2%;
}

a {
    font-weight: inherit;
    color: inherit;
    text-decoration: none;
    transition: opacity 0.3s;
}

.largeTitle {
    font-family: Void, Bugrino, Inter, "Helvetica Neue";
    font-size: var(--t-title--large);
}

.title {
    font-family: Void, Bugrino, Inter, "Helvetica Neue";
    text-transform: uppercase;
    font-size: var(--t-title);
}

.heading {
    font-weight: 600;
    text-transform: uppercase;
    font-size: var(--t-medium-large);
    font-family: Bugrino, Inter, "Helvetica Neue";
}

.subheading {
    font-family: Bugrino, Inter, "Helvetica Neue";
    font-weight: bold;
    text-transform: uppercase;
    font-size: var(--t-medium-large);
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: flex-start;
    grid-column-gap: 10px;
    margin: 0;
    min-width: 500px;
}

.pageContainer {
    padding: 0px var(--grid-margin);
    margin: 5rem auto;
}

@media screen and (max-width: 800px) {
    html {
        font-size: 50%;
    }

    .subheading {
        font-weight: bold;
        text-transform: uppercase;
        font-size: var(--t-small);
    }

    .grid {
        min-width: auto;
    }
}

.content {
    z-index: 3;
    position: relative;
}
