/* .container {
    height: 100vh;
    overflow: hidden;
} */

.headerContainer {
    /* height: 100vh; */
    top: 0;
    grid-column: span 12;
}

.eventInfo {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    left: var(--grid-margin);
    right: var(--grid-margin);
}

.talks {
    position: relative;
}

@media screen and (max-width: 768px) {
    .eventInfo {
        flex-direction: column;
        bottom: 25vh;
        left: var(--space-16x);
    }
    .eventInfo h1 {
        font-size: var(--t-large);
        padding-bottom: 3vh;
    }
    .eventInfo p {
        font-size: var(--t-medium);
    }
}
