.about {
    font-size: var(--t-medium);
    color: var(--c-off-white);
    padding-top: 1vh;
}

.topLine {
    display: flex;
}

.info {
    margin: 3% 0 0% 0;
}

.card {
    display: block;
    width: 100%;
    margin-top: 2%;
}

.container {
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    margin-top: 1%;
}

.left {
    padding: 5vh 3vw;
    width: 67%;
}

.full {
    padding: 5vh 3vw;
    width: 100%;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    width: 33%;
    border-left: 1px solid white;
}

.description {
    margin-top: 5%;
}

@media screen and (max-width: 800px) {
    .about {
        font-size: var(--t-xsmall);
    }

    .container {
        display: block;
        /* padding-bottom: 10%; */
    }

    .left {
        width: 100%;
        padding-bottom: 0;
    }

    .right {
        display: flex;
        justify-content: right;
        align-items: flex-start;
        padding: 10% 20%;
        border: none;
        width: 100%;
    }

    .top {
        display: flex;
    }

    .description {
        margin-top: 10%;
    }

    .desMobile {
        display: block;
        padding: 5%;
    }

    .grid {
        min-width: auto;
        padding: 0px;
    }
}
