.about {
    font-size: var(--t-medium);
}

.topLine {
    display: flex;
}

.info {
    margin: 5% 0 0% 0;
}

.card {
    display: block;
    width: 100%;
    margin-top: 2%;
}

.container {
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    margin-top: 1%;
}

.left {
    padding: 3% 0 10% 5%;
    width: 66%;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%;
    width: 33%;
}

.description {
    margin-top: 5%;
}

@media screen and (max-width: 800px) {
    .about {
        font-size: var(--t-xsmall);
    }

    .container {
        display: block;
        padding-bottom: 10%;
    }

    .right {
        display: flex;
        justify-content: right;
        align-items: flex-start;
        padding: 3%;
        width: 33%;
    }

    .top {
        display: flex;
    }

    .description {
        margin-top: 10%;
    }

    .desMobile {
        display: block;
        padding: 5%;
    }

    .grid {
        min-width: auto;
        padding: 0px;
    }
}
