.container {
    margin: 5rem auto;
    min-width: 100rem;
}

.sidebarContainer {
    margin: 3rem;
}

.header {
    margin-bottom: 2.4rem;
    font-size: 4rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--c-white);
    opacity: 90%;
    font-family: Void, Inter, "Helvetica Neue";
}

.description {
    margin-bottom: 2.4rem;
    font-size: 1.5rem;
    color: var(--c-white);
    opacity: 90%;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: 100px;
}

@media screen and (max-width: 812px) {
    .container {
        margin: 3rem;
    }
}
