.link:hover {
    cursor: pointer;
}

.container,
.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0px;
    font-family: Satoshi, Inter, "Helvetica Neue";
    z-index: 3;
    position: relative;
    margin: 0 2% 0 2%;
}

.logo {
    font-size: var(--t-small);
    font-weight: 600;
}

.logo:hover {
    cursor: pointer;
}

.links {
    text-transform: capitalize;
}

.link,
.logo {
    font-size: var(--t-small);
}

.link:not(:last-child) {
    margin-right: 7rem;
}

.link {
    order: 1;
}

.btn {
    color: var(--c-white);
    border-radius: 6px;
    font-weight: bold;
    border: 1px solid var(--c-white);
    padding: 12px;
    transition: background-color 0.6s;
    order: 0;
}

.btn:hover {
    background-color: var(--c-white);
    color: var(--c-black);
}

.exponav {
    /* background: url('../assets/expo_bg.svg'); */
    background-size: cover;

    /* Workaround for some mobile browsers */
    min-height: 100%;
}

@media screen and (max-width: 812px) {
    .container,
    .navContainer {
        width: 100%;
        padding: 3rem;
        margin: 0;
    }

    .container {
        flex-direction: row-reverse;
    }

    .navContainer {
        background-color: rgba(0, 0, 0, 0.8);
        flex-direction: column !important;
        height: 100vh;
    }

    .fixedContainer {
        position: fixed;
        top: 0;
    }

    .logo {
        width: auto;
        align-self: flex-start;
    }

    .links {
        display: none;
        width: 100%;
    }

    .button {
        display: none;
        width: auto;
    }

    .links .button {
        display: block;
        padding: 1.5rem 3rem;
    }
}
