.link:hover {
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 5rem;
    padding: 3rem 36px;
    font-family: Inter, "Helvetica Neue";
    z-index: 3;
    position: relative;
}

.logo {
    font-size: var(--t-small);
    font-weight: 600px;
}

.logo:hover {
    cursor: pointer;
}

.links {
    text-transform: capitalize;
}

.link_header,
.logo {
    font-size: var(--t-small);
}

.link_footer {
    font-size: var(--t-xsmall);
}

.link_header,
.link_footer:not(:last-child) {
    margin-right: 7rem;
}

.btn {
    background-color: var(--c-black);
    color: var(--c-white);
    border-radius: 6px;
    font-weight: bold;
    border: 1px solid var(--c-white);
    padding: 12px;
    transition: background-color 0.6s;
}

.btn:hover {
    background-color: var(--c-white);
    color: var(--c-black);
}

@media screen and (max-width: 812px) {
    .container {
        width: 100%;
        padding: 3rem;
    }

    .fixedContainer {
        position: fixed;
        top: 0;
    }

    .logo {
        width: auto;
        align-self: flex-start;
    }

    .links {
        display: none;
        width: 100%;
    }

    .button {
        display: none;
        width: auto;
    }

    .links .button {
        display: block;
        padding: 1.5rem 3rem;
    }
}
